.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  color: #0B8494;
  font-family: "Playfair Display", serif;
}
.relative {
  margin: 10px;
}

.recipe-details {
  transition: opacity 0.3s ease;
  opacity: 0; 
}

.recipe-card:hover .recipe-details {
  opacity: 1; 
}
.absolute,.bg-blue-500 {
  background-color: #0B8494;
  color: #E3FEF7;
  font-family: "Playfair Display", serif;
}
 .bg-blue-500:hover {
  background-color: #0B8494;
 }
 .text-indigo-500 {
  color: #0B8494;
 }
 .bg-white {
  background-color: #E1F7F5;
  border: 1px solid #0B8494;
 }
 .text-gray-600, .text-2xl {
  color: #0B8494;
 }
